* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  top: 0;
  width: 100%;
}

#scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

#content {
  position: relative;
  width: 60%;
  margin: 20% auto 0;
  text-align: justify;
  z-index: 2;
}